{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="heading">List of books</h1>
    <a href="/book/bookAdd" style="width:100%" class="btn btn-outline-dark btn-block">Add new book</a>
    <div class="container">
        <div class="grid-card">
            {% if book is defined %}
                {% for b in book %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{ b.photo }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ b.name }}</h5>
                            <a href="/book/bookEdit/{{ b.id }}" class="btn btn-primary">Edit</a>
                            <button type="button" data-remove="{{ b.id }}" class="but btn btn-primary">&#10008;</button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="/assets/js/book/bookRemove.js"></script>
{% endblock %}